<%- include("templates/header") %>
<div class="forbidden">
    <form action="/home" method="GET" class="403-description">
        <h2>YOU SHALL NOT PASS!</h2>
        <h1>403</h1>
        <h3>We are sorry, but you do not have access to this page or resource.</h3>
        <button type="submit">Back To Home Page</button>
    </form>
</div><%- include ("templates/footer") %>