<%- include("templates/admin_header") %>


<div class="bg-gray-200 p-3">
    <div class="bg-white/80 m-auto w-5/6 rounded-xl h-[870px]">
        <div class="flex flex-col gap-4 h-full items-center justify-center">
            <div class="grid grid-cols-1 grid-rows-1 md:grid-cols-2">
                <div
                  class="mr-4 block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                    <div class="p-6">
                        <h5
                        class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                            Security Code
                        </h5>
                        <p class="mb-4 text-base text-neutral-600">
                            Change the security code needed to make an account. 
                        </p>
                        <form action="/generate-code" method="post">
                            <span>Current Code</span>
                            <input type="text" id="code_display" value="<%= code %>" readonly>
                            <button type="submit" id="generate" style="color: blue;">Generate Code</button>
                        </form>
                    </div>
                </div>
                <div
                    class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                    <div class="p-6">
                        <h5
                        class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                            Intake
                        </h5>
                        <p class="mb-4 text-base text-neutral-600">
                            Displays the current intake number since the beginning of this websites creation.
                        </p>
                        <form action="/newIntake" method="post">
                            <span>Current Intake</span>
                            <input type="text" id="intake_display" value="<%= intake %>" readonly>
                            <button type="submit" id="generate" style="color: blue;">New Intake</button>
                        </form>
                    </div>
                </div>
            </div>
            <div
                class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                <div class="p-6">
                    <h5
                    class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                        Final Placement
                    </h5>
                    <p class="mb-4 text-base text-neutral-600">
                        Distribute the placements to the students and sends and email to the students that placements have been set.
                    </p>
                    <form action="/admin/send-email" method="post">
                        <button type="submit" id="generate" style="color: blue;">Send Email / Give Placement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ("templates/footer") %>