<%- include("templates/header") %>
<div>
    <h1>ADMIN PAGE</h1>
    <form action="/admin-view-students" method="post">
        <div>
            <button type="submit" id="signup">View Students</button>
        </div>
    </form>
    <form action="/logout" method="post">
        <div>
            <button type="submit" id="signup">Logout</button>
        </div>
    </form>
</div>

<%- include ("templates/footer") %>


