
<%- include("templates/header") %>
<div class="flex h-screen bg-gray-200">

    <div class="m-auto max-w-md p-4 bg-white shadow-lg rounded-lg">
      <h2 class="text-gray-700 font-bold mb-4">Student Profile</h2>
      <form id="studentProfileForm" class="space-y-4">
        <div class="mb-4">
          <label for="studentName" class="block text-gray-700 font-bold mb-2">Name:</label>
          <input type="text" id="studentName" name="studentName" placeholder="Enter student name"
                 class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"/>
        </div>
  
        <div class="mb-4">
          <label for="studentEmail" class="block text-gray-700 font-bold mb-2">Email:</label>
          <input type="email" id="studentEmail" name="studentEmail" placeholder="Enter student email"
                 class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"/>
        </div>
  
        <fieldset class="p-2 border border-gray-300 rounded-md">
          <legend class="text-sm font-medium text-gray-700">Accommodations</legend>
          <div class="flex items-start mt-2">
            <div class="flex items-center h-5">
              <input type="checkbox" id="interiorBC" name="accommodations" value="Interior BC Only"
                     class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded"/>
            </div>
            <div class="ml-3 text-sm">
              <label for="interiorBC" class="font-medium text-gray-700">Interior BC Only</label>
            </div>
          </div>
  
          <div class="flex items-start mt-2">
            <div class="flex items-center h-5">
              <input type="checkbox" id="lowerMainland" name="accommodations" value="Lower Mainland Only"
                     class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded"/>
            </div>
            <div class="ml-3 text-sm">
              <label for="lowerMainland" class="font-medium text-gray-700">Lower Mainland Only</label>
            </div>
          </div>
        </fieldset>
  
        <div class="form-group">
          <button type="submit"
                  class="mt-4 w-full bg-green-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800 transition duration-150 ease-in-out">
            Save Profile
          </button>
        </div>
      </form>
  
      <!-- Dynamic List of Users Placeholder -->
      <div class="mt-8">
        <h3 class="text-gray-700 font-bold">Users</h3>
        <ul id="usersList" class="mt-4">
          <!-- Dynamic User Items will be inserted here -->
          <!-- Example: -->
          <!-- <li class="py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">John Doe</li> -->
        </ul>
      </div>
    </div>
  </div>
  

<%- include ("templates/footer") %>