<%- include("templates/admin_header") %>

<div>
    <h1>Administrative Tools</h1>
</br>
    <form action="/admin-view-students" method="get">
        <div>
            <button type="submit" id="signup">View Students</button>
        </div>
    </form>
</br>
    <form action="/generate-code" method="post">
        <span>Current Code</span>
        <input type="text" id="code_display" value="<%= code %>" readonly>
        <button type="submit" id="generate" style="color: blue;">Generate Code</button>
    </form>

</br>

    <form action="/newIntake" method="post">
        <span>Current Intake</span>
        <input type="text" id="intake_display" value="<%= intake %>" readonly>
        <button type="submit" id="generate" style="color: blue;">New Intake</button>
    </form>
</div>

<%- include ("templates/footer") %>


