<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRAD</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">

    <% if (locals.scripts) { %> 
        <% for(var i=0; i<scripts.length; i++) { %>
            <script src="<%= scripts[i]%>"></script>
        <% } %> 
    <% } %> 
</head>
<body>

<div class="flex flex-wrap">
    <div class="w-full sm:w-8/12 mb-10">
        <div class="container mx-auto h-full sm:p-10">
            <nav class="flex px-4 justify-between items-center">
                <div class="text-4xl font-bold">
                    MRAD<span class="text-green-700">.</span>
                </div>
            </nav>
            <header class="container px-4 lg:flex mt-10 items-center h-[90%] lg:mt-0">
                <div class="w-full">
                    <div class="max-w-md mx-auto">
                        <h1 class="text-4xl lg:text-6xl font-bold">Password <span class="text-green-700">Reset</span></h1>
                        <div class="w-20 h-2 bg-green-700 my-4"></div>
                        <form class="p-4" method="post" action="/forgot-password/password-send">
                            <div class="mb-4">
                                <label for="password" class="block text-gray-700 font-bold mb-2"
                                    >Password</label
                                >
                                <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"
                                    placeholder="Enter your password"
                                    required
                                />
                            </div>
                            <div class="mb-4">
                                <label for="password" class="block text-gray-700 font-bold mb-2" id="password_match_text"
                                    >Re-Enter Password</label
                                >
                                <input
                                    type="password"
                                    id="password_match"
                                    name="password_match"
                                    class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"
                                    placeholder="Re-Enter your password"
                                    onkeyup=validatePasswords()
                                    required
                                />
                            </div>
                            <div class="flex items-center justify-between">
                                <button
                                    hidden
                                    id="submit"
                                    type="submit"
                                    class="bg-green-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800 transition duration-150 ease-in-out"
                                >
                                    Change Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <img src="https://images.unsplash.com/photo-1536147116438-62679a5e01f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Leafs" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
</div>

<script>
    function validatePasswords() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("password_match").value;

        let submit = document.getElementById("submit")

        if (pass1 != pass2) {
            document.getElementById("password_match_text").innerHTML = "Password does not match" 
            document.getElementById("password_match_text").style.color = "red"
            submit.setAttribute("hidden", "hidden")
        } else {
            document.getElementById("password_match_text").innerHTML = "Password match" 
            document.getElementById("password_match_text").style.color = "green"
            submit.removeAttribute("hidden")
        }
    }
</script>






<%- include ("templates/footer") %>