<%- include("templates/header") %>
    <div class="container">
        <h1>LOGIN</h1>
        <form action="/login" method="post">
            <div class="input-group">
                <input name="username" type="text" placeholder="username" required>
            </div>
            <br>
            <div>
                <input name="password" type="text" placeholder="password" required>
            </div>
            <br>
            <
            <button type="submit" id="submit">Submit</button>
            <br>
            <a href="/signup"></a>
            <button type="button" id="signup">SIGN UP</button>
        </form>

    </div>
<%- include ("templates/footer") %>