<%- include("templates/header") %>
    <div>
        <h1>LOGIN</h1>
        <form action="/login" method="post">
            <div>
                <input name="username" type="text" placeholder="username" required>
            </div>
            <br>
            <div>
                <input name="password" type="password" placeholder="password" required>
            </div>
            <br>
            <button type="submit" id="submit">Submit</button>
            <br>
            <a href="/signup"><button type="button" id="signup">SIGN UP</button></a>

            <!-- <a href="/signup">signup page link</a>
            <button type="button" id="signup">SIGN UP</button> -->
        </form>
    </div>
<%- include ("templates/footer") %>