<%- include("templates/header") %>

<div class="main">
    <div class="card">
        <div class="user-card">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>Ian</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>ain@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>Vancouver, BC</td>
                    </tr>
                    <tr>
                        <td>Hobbies</td>
                        <td>:</td>
                        <td>Games, Reading Books</td>
                    </tr>
                    <tr>
                        <td>Job</td>
                        <td>:</td>
                        <td>Software Developer</td>
                    </tr>
                    <tr>
                        <td>Skill</td>
                        <td>:</td>
                        <td>HTML, CSS, JS</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ("templates/footer") %>