<%- include("templates/header") %> 

<div class="bg-blue-600 w-fit p-10 min-w-[15%] flex flex-col items-center h-screen fixed">
    <div class="py-10">Choice 1</div>
    <div class="py-10">Choice 2</div>
    <div class="py-10">Choice 3</div>
    <div class="py-10">Choice 4</div>
    <div class="py-10">Choice 5</div>

    <div>
      <button class="rounded-md border p-3">Save</button>
    </div>
  </div>

<div class='flex w-full pl-[15%]'>
    <div class='bg-gray-800 grid grid-cols-4 gap-9 w-full'>
        <div class="flex p-4 justify-center bg-red-200">
                Option #
        </div>
        <div class="flex p-4 justify-center">
                Location 1
        </div>
        <div class="flex p-4 justify-center">
                Location 2
        </div>
        <div class="flex p-4 justify-center">
                Location 3
        </div>

        <% for (let i = 1; i <= 80; i++) { %>
            <div class="p-2 bg-lime-600 h-10 flex justify-center">
                <%= i %>
            </div>
            <div class="p-2 bg-lime-600 h-10">
                VGH
            </div>
            <div class="p-2 bg-lime-600 h-10">
                Burnaby
            </div>
            <div class="p-2 bg-lime-600 h-10">
                Surrey
            </div>
        <% } %>
    </div>
</div>

<%- include("templates/footer") %> 