<%- include("templates/header") %> 

<h1>Selection</h1>
<div>
    <div>Choice Selection</div>
    <div>
        <form>
            <label>Choice 1</label>
        </form>
    </div>
</div>

<%- include("templates/footer") %> 