<%- include("templates/header") %>
<div>
    <h1>SIGNUP</h1>
    <form action="/submituser" method="post">
        <div>
            <input name="name" type="text" placeholder="Name" required />
        </div>
        <div>
            <input name="email" type="text" placeholder="Email" required />
        </div>
        <div>
            <input name="password" type="password" placeholder="Password" required />
        </div>
        <div>
            <input name="MRAD_id" type="text" placeholder="MRAD ID" required />
        </div>
        <button type="submit" id="signup">Submit</button>
    </form>
</div>

<%- include ("templates/footer") %>


